.header{
    color: white;
    display: flex;
    padding:20px;
    align-items: center;
    justify-content:space-between;
 overflow-x:scroll;
 -ms-overflow-style: none;
 /* IE and Edge */
 scrollbar-width: none;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.header::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */

.header__icons{
    display:flex;
    align-items:center ;
    text-align:center;
}
.header__icon{
    display:flex;
     cursor:pointer;
     width:100px;
    flex-direction: column;
}

.header__icon:hover > p{ 
display:inline;
}
 .header__icon--active > p{
     display:inline !important;
 }
.header__icon > p{

    text-transform: uppercase;
    display: none;
    letter-spacing: 3px;
    margin-left: 3px;
    margin-right:3px;
    font-size: small;


}

 .header > img {
     object-fit: contain;
     height:80px;
    
 }

 .header__icon > .MuiSvgIcon-root{
     margin-right: auto;
     margin-left: auto;
 }